body{
    margin:0px;
}
#top{
    background-color: black;
    height:40px;
    display: flex;
    color: white;
    justify-content: space-between;
    
}
#top >div{
    display: flex;
    gap:10px;
    margin: 0px 60px 0px 60px;
    align-items: center;
    font-family:ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" ;
}
#top >div:first-child{
    gap:30px;
    font-size: 14px;
}
#top >div:last-child{
    gap:15px;
    font-size: 12px;
}

.withIcon{
    display:flex;
    gap:8px;
}
.withIcon >img {
    margin: auto;
    color: white;
}
.vl{
    border-left: 1px solid #5d5e5c;
    height:20px;
}
#top a{
    text-decoration: none;
    color: white;
}
#navbar{
    height:70px;
    background-color:#f7f8f7;
    display:flex;
    justify-content: space-between;
    padding:0px;
    position:sticky;
}
#navbar >div{
    display: flex;
   margin: auto;
   align-items: center;
}

#navbar >div:first-child > img{
    width:10%;
    margin-right: 20px;
    
}
#navbar input{
    font-size: 14px;
    width:220%;
    height: 40px;
    background-color: #ecedeb;
    border: none;
}
#navbar form{
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: #ecedeb;
}  
#navbar form > img{
    width:5%;
    margin-left: 10px;
    margin-right: 10px;
}  
#navbar a{
    text-decoration: none;
    color:black;
}
.hov:hover{
    background-color: white;
    height:100%;
}
.hov{
    width:8%;
    text-align: center;
}
#navbar > div:last-child{
    gap:8px;
    width:18%;
}
#navbar >div:last-child > img{
    width:8%;
    margin-left: 13px;;
}
#offer{
    text-align: center;
    background-color: blue;
    height:50px;
    display:flex;
    cursor: pointer;
    justify-content: center;
    color: white;
    font-weight: bold;
}
#slide{
    width:96%;
    height:auto;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#slide >button{
    height:10%;
    font-size: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
}
#hrBorder{
    display: grid;
    gap: 15px;
    width:90%;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    margin-top: 30px;
}
#hrBorder >div {
    border: 1px solid #ecedeb;
}
#sipping {
    width:90%;
    margin:auto;
    margin-top: 90px;
}
#sipping >img{
    width:100%;
}
hr{
    width:90%;
    margin-top: 50px;
    margin-bottom: 80px;
}
.festive{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    width:90%;
    margin: auto;
}
.festive img{
    width:100%;
}
h1{
    margin-left: 75px;
    font-size: 36px;
    font-weight: normal;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#category{
    width:90%;
    height:auto;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,250px);
    gap:20px;
    margin: auto;
}
#category >div {
    border: 1px solid red;
}
#category img{
    width:100%;
}
#zone{
    width:90%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin: auto;
}
#zone img{
    width:100%;
}
.youth{
    width:90%;
    margin: auto;
}

